<a href="https://colab.research.google.com/github/dpk-a7/pdf_2_df/blob/main/pdf_to_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
!pip install PyPDF2

Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.7/dist-packages (1.26.0)

In [55]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.1)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.16.0)

In [93]:
!pip install -U pandas-profiling

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Collecting pandas-profiling
  Downloading pandas_profiling-3.0.0-py2.py3-none-any.whl (248 kB)
     |████████████████████████████████| 248 kB 4.0 MB/s
Collecting htmlmin>=0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Collecting visions[type_image_path]==0.7.1
  Downloading visions-0.7.1-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 43.8 MB/s
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.11.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.21.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.3.1)
Collecting pydantic>=1.8.1
  Downloading pydantic-1.8.2-cp37-cp37m-manylinux2014_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 48.9 MB/s
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.4.1)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.5.0)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Collecting tangled-up-in-unicode==0.1.0
  Downloading tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 28.7 MB/s
Collecting requests>=2.24.0
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 896 kB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.0.1)
Collecting tqdm>=4.48.2
  Downloading tqdm-4.62.0-py2.py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 4.1 MB/s
Collecting phik>=0.11.1
  Downloading phik-0.12.0-cp37-cp37m-manylinux2010_x86_64.whl (675 kB)
     |████████████████████████████████| 675 kB 42.2 MB/s
Collecting PyYAML>=5.0.0
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 50.6 MB/s
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (21.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (2.5.1)
Collecting multimethod==1.4
  Downloading multimethod-1.4-py2.py3-none-any.whl (7.3 kB)
Requirement already satisfied: bottleneck in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.3.2)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (7.1.2)
Collecting imagehash
  Downloading ImageHash-4.2.1.tar.gz (812 kB)
     |████████████████████████████████| 812 kB 46.6 MB/s
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->pandas-profiling) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling) (1.16.0)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx>=2.4->visions[type_image_path]==0.7.1->pandas-profiling) (4.4.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2021.1)
Collecting scipy>=1.4.1
  Downloading scipy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 47 kB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic>=1.8.1->pandas-profiling) (3.7.4.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling) (2.0.2)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling) (1.1.1)
Building wheels for collected packages: htmlmin, imagehash
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=31523ff4cf0456921dc87df2e54cba1d3c94c1e57f5fa0ef0265508d6488eb2e
  Stored in directory: /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
  Building wheel for imagehash (setup.py) ... done
  Created wheel for imagehash: filename=ImageHash-4.2.1-py2.py3-none-any.whl size=295206 sha256=946fc4ccb8b1c5fb06031b230797cb1e0ef511d3cd8316593fa330781b881758
  Stored in directory: /root/.cache/pip/wheels/4c/d5/59/5e3e297533ddb09407769762985d134135064c6831e29a914e
Successfully built htmlmin imagehash
Installing collected packages: tangled-up-in-unicode, scipy, multimethod, visions, imagehash, tqdm, requests, PyYAML, pydantic, phik, htmlmin, pandas-profiling
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.41.1
    Uninstalling tqdm-4.41.1:
      Successfully uninstalled tqdm-4.41.1
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: PyYAML
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: pandas-profiling
    Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.1 which is incompatible.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.26.0 which is incompatible.
google-colab 1.0.0 requires six~=1.15.0, but you have six 1.16.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed PyYAML-5.4.1 htmlmin-0.1.12 imagehash-4.2.1 multimethod-1.4 pandas-profiling-3.0.0 phik-0.12.0 pydantic-1.8.2 requests-2.26.0 scipy-1.7.1 tangled-up-in-unicode-0.1.0 tqdm-4.62.0 visions-0.7.1

In [1]:
pdf_nm = "100100502_AES01267KY_ORG_Financial-Statement_2020.pdf"

In [26]:
from tabula.io import read_pdf
df_balance = read_pdf(pdf_nm, pages=4,output_format="dataframe", stream=True)[0]
df_statement = read_pdf(pdf_nm, pages=5,output_format="dataframe", stream=True)[0]

In [27]:
df_balance.dropna()
df_balance = df_balance.rename(columns={"As at":"As at 31st March 2020",
                                        "As at.1":"As at 31st March 2019"})
df_balance = df_balance.drop(index=0)
df_balance

                                          Particulars  ...  As at 31st March 2019
1                                              Assets  ...                    NaN
2                              non - Current Assets :  ...                    NaN
3                       Property, Plant and Equipment  ...               6,056.63
4                            Capital Work-in-progress  ...                 255.10
5                                 Right of Use Assets  ...                      -
6                           Goodwill on Consolidation  ...                  22.58
7                                   Intangible Assets  ...                   6.34
8                                    Financial Assets  ...                    NaN
9                                         Investments  ...                  56.00
10                                              Loans  ...                  11.62
11                             Other Financial Assets  ...                  55.64
12                            Income Tax Assets (Net)  ...                 112.52
13                          Deferred Tax Assets (Net)  ...                  83.77
14                           Other Non-Current assets  ...                 168.79
15                         total non - Current Assets  ...               6,828.99
16                                     Current Assets  ...                    NaN
17                                        Inventories  ...               2,076.33
18                                   Financial Assets  ...                    NaN
19                                        Investments  ...                   5.74
20                                  Trade Receivables  ...               2,598.51
21                          Customers Bill Discounted  ...                 698.94
22                          Cash and Cash Equivalents  ...                  77.86
23                                Other Bank Balances  ...                  20.10
24                                              Loans  ...                  83.47
25                             Other Financial Assets  ...                  32.88
26                               Other Current Assets  ...                 563.76
27                               total Current Assets  ...               6,157.59
28                                       total Assets  ...              12,986.58
29                             eQuItY And LIABILItIes  ...                    NaN
30                                             equity  ...                    NaN
31                               Equity Share Capital  ...                 244.38
32                                       Other Equity  ...               8,049.20
33              Money Received Against Share Warrants  ...                      -
34  total equity attributable to equity Holders of...  ...               8,293.58
35                          Non-Controlling Interests  ...                   9.28
36                                       total equity  ...               8,302.86
37                                        Liabilities  ...                    NaN
38                            non-Current Liabilities  ...                    NaN
39                              Financial Liabilities  ...                    NaN
40                                         Borrowings  ...                 130.62
41                                  Lease Liabilities  ...                      -
42                                         Provisions  ...                   5.15
43                     Deferred Tax Liabilities (Net)  ...                 440.46
44                      total non-Current Liabilities  ...                 576.23
45                                Current Liabilities  ...                    NaN
46                              Financial Liabilities  ...                    NaN
47                                         Borrowings  ...                 858.32
48                          Customers Bill Discounted  ...                 698.94
49                                  Lease Liabilities  ...                    NaN
50                                     Trade Payables  ...                    NaN
51  (a) Total outstanding dues of Micro Enterprise...  ...                  26.85
52  (b)  Total outstanding dues of Creditors other...  ...               2,193.96
53                                        Enterprises  ...                    NaN
54                        Other Financial Liabilities  ...                 165.42
55                          Other Current Liabilities  ...                 153.85
56                                         Provisions  ...                  10.13
57                       Income Tax Liabilities (Net)  ...                   0.02
58                          total Current Liabilities  ...               4,107.49
59                                  total Liabilities  ...               4,683.72
60                       total equity and Liabilities  ...              12,986.58

[60 rows x 4 columns]

In [28]:
df_statement = df_statement.rename(columns={"PArtICuLArs":"Particulars", 
                   "Year ended":"Year ended(31st March 2020)",
                   "Year ended.1":"Year ended(31st March 2019)"})
df_statement = df_statement.drop(index=0)
df_statement

                                          Particulars  ...  Year ended(31st March 2019)
1                                              InCoMe  ...                          NaN
2                             Revenue from Operations  ...                    14,235.02
3                                        Other Income  ...                       133.52
4                                        total Income  ...                    14,368.54
5                                            exPenses  ...                          NaN
6                      Cost of Raw Materials Consumed  ...                     9,465.64
7                         Purchases of Stock-in Trade  ...                       159.88
8   Changes in Inventories of Finished Goods, Work...  ...                     (765.04)
9                           Employee Benefits Expense  ...                       636.79
10                                      Finance Costs  ...                        90.75
11              Depreciation and Amortisation expense  ...                       212.49
12                                     Other Expenses  ...                     2,376.33
13                                     total expenses  ...                    12,176.84
14                                  Profit Before tax  ...                     2,191.70
15                                       tax expenses  ...                          NaN
16                                        Current Tax  ...                       618.77
17                                       Deferred Tax  ...                       151.10
18                                  total tax expense  ...                       769.87
19  Profit for the year Before share of Loss of As...  ...                     1,421.83
20                Less : Share of (Loss) of Associate  ...                       (8.84)
21                                Profit for the Year  ...                     1,412.99
22                other Comprehensive Income / (Loss)  ...                          NaN
23  Items that will not be reclassified to profit ...  ...                          NaN
24        Remeasurements of the defined benefit plans  ...                       (6.70)
25  Income Tax relating to items that will not be ...  ...                         2.34
26                          Share of OCI in associate  ...                            -
27                                                NaN  ...                       (5.36)
28     Items that will reclassified to profit or loss  ...                          NaN
29  Exchange differences in translating the financ...  ...                            -
30                                                NaN  ...                            -
31  other Comprehensive Income/(Loss) for the Year...  ...                       (4.36)
32            total Comprehensive Income for the Year  ...                     1,408.63
33               Profit for the Year Attributable to:  ...                          NaN
34                              Owners of the Company  ...                     1,431.99
35                           Non-controlling interest  ...                      (19.00)
36                                                NaN  ...                     1,412.99
37  other Comprehensive Income/(Loss) for the Year...  ...                          NaN
38                              Owners of the Company  ...                       (4.36)
39                           Non-controlling interest  ...                            -
40                                                NaN  ...                       (4.36)
41  total Comprehensive Income for the Year Attrib...  ...                          NaN
42                              Owners of the Company  ...                     1,427.63
43                           Non-controlling interest  ...                      (19.00)
44                                                NaN  ...                     1,408.63
45      Earnings per equity share (Face value of ` 2)  ...                          NaN
46                                       Basic (in `)  ...                        11.56
47                                     Diluted (in `)  ...                        11.54

[47 rows x 4 columns]

In [29]:
df_balance.to_csv("Consolidated_Balance.csv")
df_statement.to_csv("Consolidated_statement.csv")